@import url(http://fonts.googleapis.com/css?family=Stoke);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

/*
@import url(http://fonts.googleapis.com/css?family=Corben:400,700);
@import url(http://fonts.googleapis.com/css?family=Russo+One);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Subrayada);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);
*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
    margin: 0;
    padding: 0;
    font-family: 'Stoke', serif;
}

html, body {
    height: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;

    font-size: 64px;
    color: #3E4261;
    text-align: left;
    padding: 2px 30px;
}

header, section, footer {
    display: block;
}

body { 
    color: #666;
    text-align: center;
}

p {
    margin: 14px;
}

a { 
    color: rgb(75, 163, 82);
    text-decoration: underline;
}

a:hover {
    color: #00BD17;
    text-decoration: underline;
}

article {
    margin-left: 180px;
    text-align: left;
}

#wrapper {
    min-height: 100%;
    width: 960px;
    margin: 15px auto;
}

#main_header {
    padding: 20px;
    color: #3B3C46;
}

#tagline {
    background: rgb(1, 175, 22);
    color: #dbdbdb;
    padding: 14px;
    font-weight: bold;
    font-size: 120%;
    border: 1px dotted #78d88b;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


#main_section {
    overflow: auto;
    /* padding-bottom: 180px; */
    float: left;
    width: 860px;
    margin: 50px;
}

#main_footer {
    position: relative;
    margin-top: -180px;
    height: 180px;
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #999999;
    font-size: 80%;
    background-color: rgb(111, 116, 102);
    color: rgb(231, 231, 231);
}

#notice {
    margin-top: 10px;
    padding: 10px;
    background-color: #FBFFDD;
    border: 1px solid #ECE375;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#error {
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 10px;
    background-color: rgb(253, 178, 178);
    border: 1px solid rgb(255, 53, 53);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#mail {
    background-color: #f4f4f4;
    font-size: 9px;
    text-align: center;
    margin: 20px 10px auto;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    min-height: 180px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#mail input, label, textarea {
    font-family: verdana, arial, helvetica, sans-serif;
}

#mail label {
    font-weight: bold;
    font-size: 10px;
}

#mail h1 {
    font-size: 32px;
}

#form_div {
    text-align: left;
    margin-left: 240px;
}

#technology {
    align: center;
    background-color: #f4f4f4;
    text-align: left;
    margin: 20px 10px auto;
}

#technology h1 {
    font-size: 26px;
}

#techlist {
    list-style: none;
    width: 500px;
}

#techlist li {
    display: inline;
    padding: 60px;
}

#techlist li img { width: 50px; }


/* 
div {
  margin: 20px;
}
 
ul {
  list-style-type: none;
  width: 500px;
}
*/

/*
h2 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
  width: 50px;
}
 
li p {
  / * font: 200 12px/1.5; Georgia, Times New Roman, serif; * /
  font-size: 80%;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}
*/